{% extends "::base.html.twig" %}
{% block content %}

<h1>Display deal</h1>

<p>Voici le deal pour le vendeur {{seller.firstname}}, {{seller.lastname}}, à date du {{deal.date}}</p>

    <table class="table table-striped table-hover ">

        <thead>
            <tr>
                <th>URL</th>
                <th>Target</th>
                <th>Ancre</th>
                </tr>
         </thead>
         <tbody>
         {% for backlink in deal.backlinks %}
            <tr>
                <td>{{backlink.url}}</td>
                <td>{{backlink.target.url}}</td>
                <td>{{backlink.anchor}}</td>
            </tr>
        {% endfor %}
        </tbody>

     </table>

{% endblock %}
